<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mediprice.hospitals">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_hospitallogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_hospitallogo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CovidHospitals">
        <activity android:name="com.mediprice.hospitals.DetailsPatient"/>
        <activity android:name="com.mediprice.hospitals.ViewPatients" />
        <activity android:name="com.mediprice.hospitals.AddPatient" />
        <activity android:name="com.mediprice.hospitals.UpdateBedData" />
        <activity android:name="com.mediprice.hospitals.BedRequests" />
        <activity android:name="com.mediprice.hospitals.EditHospital" />
        <activity android:name="com.mediprice.hospitals.DeleteHospital" />
        <activity android:name="com.mediprice.hospitals.AddHospital" />
        <activity android:name="com.mediprice.hospitals.ControlRoom" />
        <activity android:name="com.mediprice.hospitals.PatientsList" />
        <activity android:name="com.mediprice.hospitals.HospitalDashboard" />
        <activity android:name="com.mediprice.hospitals.SigningHospital" />
        <activity android:name="com.mediprice.hospitals.LoginHospital" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>